.loginsignup {
    width: 100%;
    height: 80vh;
    background: linear-gradient(180deg, #ff3131ab, #ffffff 42%);
    padding-top: 100px;
}

.loginsignup-container {
    width: 580px;
    height: 600px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}

.loginsignup-container h1 {
    margin: 20px 0px;
}

.loginsignup-fields {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.loginsignup-container button {
    margin-top: 20px;
    width: 60%;
    height: 72px;
    color: white;
    background: red;
    border-radius: 10px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.loginsignup-fields input {
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

.loginsignup-container p {
    margin-top: 15px;
}
.loginsignup-login span {
    color: red;
    font-weight: 600;
}